<!-- 帮助中心文章内容 -->
<ion-view hide-nav-bar="true" hide-tabs class="v4">
    <div class="bar bar-header">
        <button ng-click="$toBack('/tab/duo')" class="button button-clear button-stable">
            <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">{{title}}</h1>
    </div>
    <ion-content overflow-scroll="true">
        <div class="introduction">
            <div  ng-bind-html="articledata.content |f_img_url"></div>
        </div>
    </ion-content>
</ion-view>
