<ion-view hide-nav-bar="true" class="v4 commission_l">
    <div class="bar bar-header">
        <button ng-click="$toBack('/tab/home')" class="button button-clear button-stable">
			<i class="icon ion-chevron-left"></i>
		</button>
        <h1 class="title">闪电试用</h1>
        <button ng-click="$toSearch('')" class="button button-clear button-stable">
            <i class="ico ico_search"></i>
        </button>
    </div>
    <ion-content>
        <ion-refresher
            pulling-text="下拉刷新"
            pulling-icon="ion-loading-c"
            refreshing-text="刷新成功"
            refreshing-icon="ion-loading-c"
            on-refresh="doRefresh()">
        </ion-refresher>
        <section class="banner_b">
            <a href="javascript:;" class="view_img">
                <img src="img/a7.jpg" alt="">
            </a>
        </section>
        <section class="list_b">
            <div class="list_c" ng-if="!shop_list_showloading">
                <div class="flex" ng-repeat="d in goods">
                    <div class="info">
                        <p class="title word">{{d.title}}</p>
                        <p class="price flex">
                            <span>下单价: <em class="num"> {{d.goods_price | currency:"￥"}}</em></span>
                            <span>返还: <em class="num">{{d.fan_price | currency:"￥"}}</em></span>
                            <span>奖励: <em class="num">{{d.bonus_price | currency:"￥"}}</em></span>
                        </p>
                        <p class="count">
                            剩余份数:
                            <span><em class="num">{{d.number}}</em>/{{d.goods_number}}</span>
                        </p>
                    </div>
                    <div class="btns">
                        <button class="button" ng-if="d.number > 0" ng-click="$goTo('/tab/commission/{{d.id}}')">
                            <span>我要抢购</span>
                        </button>
                        <button class="button over" ng-if="d.number < 1" ng-click="$goTo('/tab/commission/{{d.id}}')">
                            <span>已抢完</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="loading_b" ng-if="showloading">
                <ion-spinner icon="ios" class="core"></ion-spinner>
                <p>正在加载，请等候...</p>
            </div>
            <div ng-if="!commission_hasNextPage && goods && !showloading" class="empty_tip">亲,已经没有了,每天10点会更新</div>
            <div ng-if="!goods && !showloading" class="empty_tip"> 亲暂无对应活动商品,每天10点上新,敬请关注！ </div>
            <ion-infinite-scroll
                pulling-text="加载更多中"
                on-infinite="loadMore()"
                ng-if="commission_hasNextPage"
                distance="1%">
            </ion-infinite-scroll>
        </section>
    </ion-content>
</ion-view>