<ion-view hide-nav-bar="true" class="v4 order_l commission_order">
    <div class="bar bar-header">
        <button ng-click="$toBack('/tab/user')" class="button button-clear button-stable">
            <i class="icon ion-chevron-left"></i>
        </button>
        <h2 class="title">我的闪电试用</h2>
    </div>
    <div class="bar bar-subheader status">
        <button class="button button-clear button-stable" ng-class="{'active':switch_type === 1}" ng-click="changeTab(1)">
            <span>已通过</span>
        </button>
        <button class="button button-clear button-stable" ng-class="{'active':switch_type === 2}" ng-click="changeTab(2)">
            <span>未通过</span>
        </button>
        <button class="button button-clear button-stable" ng-class="{'active':switch_type === 3}" ng-click="changeTab(3)">
            <span>已完成</span>
        </button>
    </div>
    <ion-content>
        <ion-refresher 
            pulling-text="下拉刷新" 
            pulling-icon="ion-loading-c" 
            refreshing-text="刷新成功"
            refreshing-icon="ion-loading-c"
            on-refresh="wdfl_doRefresh()">
        </ion-refresher>
        <section class="list_b">
            <div ng-show="wdsy_showloading" class="loading_b">
                <ion-spinner icon="ios" class="core"></ion-spinner>
            </div>
            <div class="empty_order" ng-show="!wdsy_showloading" ng-if="trial_getorderlists.length < 1 ">
                <img ng-src="img/muyou.png" />
                <p><span>亲 </span>您当前木有对应的试用品</p>
                <a ng-click="$goTo('/tab/trial')"  class="button  button-assertive button-outline">去抢购闪电试用 无需审核 快速试用</a>
            </div>
            <ul ng-show="!wdsy_showloading" class="list_c">
                <li ng-repeat="d in trial_getorderlists">
                    <div class="goods_b flex">
                        <i class="view_img">
                            <img ng-src="{{ENV.siteUrl}}{{d.thumb}}" src="img/common/backdrop.png" alt="商品图片">
                        </i>
                        <div class="info">
                            <p class="title word" ng-click="$goTo('/tab/commission/' + d.goods_id)">{{d.title}}</p>
                            <p ng-if="d.taobao_account">{{d.source |f_source2}}账号: <span>{{d.taobao_account}}</span></p>
                            <p>下单价: <span class="num">{{d.goods_price | currency:"￥"}}</span></p>
                            <p ng-if="d.goods_bonus > 0">赠送津贴: <span class="num">{{d.goods_bonus | currency:"￥"}}</span></p>
                            <p>抢购时间: <span class="num">{{d.create_time +'000' | date:"yyyy-MM-dd h:mm" }}</span></p>
                            <p ng-if="d.status != 4">返还: <span class="num">{{d.fan_price | currency:"￥"}}</span></p>
                            <p ng-if="d.status == 4">原因: <span>{{d.cause}}</span></p>
                            <p ng-if="d.status == 1">待商家审核试用资格</p>
                            <p ng-if="d.status == 4">修改订单号: <img class="ico_time" src="img/timeclick.png">
                                <span class="date" id="{{d.check_time - 0 + buyer_check_update_order_sn}}" data-time="">{{d.check_time - 0 + buyer_check_update_order_sn | f_fomtime}}</span>
                            </p>
                            <p ng-if="d.status == 2">填写订单号: <img class="ico_time" src="img/timeclick.png">
                                <span class="date" id="{{d.create_time - 0 + buyer_write_order_time}}" data-time="">{{d.create_time - 0 + buyer_write_order_time | f_fomtime}}</span>
                            </p>
                            <p ng-if="d.status == 5">待商家确认返款: <img class="ico_time" src="img/timeclick.png">
                                <span class="date" id="{{d.check_time - 0 + seller_pay_time}}" data-time="">{{d.check_time - 0 + seller_pay_time | f_fomtime}}</span>
                            </p>
                            <p ng-if="d.status == 3">订单号审核中: <img class="ico_time" src="img/timeclick.png">
                                <span class="date" id="{{d.check_time - 0 + seller_check_time}}" data-time="">{{d.check_time - 0 + seller_check_time | f_fomtime}}</span>
                            </p>
                            <p ng-if="d.status == 7">已完成: <span class="num">已返还{{d.fan_price | currency:"￥"}}</span></p>
                            <p ng-if="d.status == 0">已关闭:<span class="num">{{d.cause}}</span></p>
                        </div>
                    </div>
                    <div ng-if="switch_type !== 2 && switch_type !== 3" class="btns_b flex">
                        <button class="button" ng-click="abandon_application(d.id)" ng-if="d.status == 1">
                            <span>放弃申请</span>
                        </button>
                        <button class="button" ng-click="toOrderAdd(d.id, d.goods_id)" ng-if="d.status == 2 && d.order_sn ==''">
                            <span>填写订单号</span>
                        </button>
                        <button class="button" ng-click="toOrderAdd(d.id, d.goods_id)" ng-if="d.status == 4 || d.status == 3">
                            <span>修改订单号</span>
                        </button>
                        <button class="button" ng-if="d.status == 7">
                            <span>已返还</span>
                        </button>
                        <button class="button" ng-click="Appeal(order_info.status,order_info.id,txddh_showdata.id)" ng-if="order_info.status == 4">
                            <span>我要申诉</span>
                        </button>
                    </div>
                </li>
            </ul>
            <ion-infinite-scroll
                 pulling-text="加载更多中"
                 on-infinite="wdsy_loadMore()"
                 ng-if="wdsy_hasNextPage"
                 distance="1%">
            </ion-infinite-scroll>
        </section>

    </ion-content>

</ion-view>