<ion-view hide-nav-bar="true" class="bac_f4">
	<div class="bar bar-header bar-color2 bac_f4" id="up_head">
		<a ng-click="url_href('login')" style="color:#3d3d3d;" class="button icon icon-backs button-clear head_button1 color_i "></a>
		<h1 class="title color_i">邀请好友</h1>
		<a href="javascript:;" style="color:#3d3d3d;" class="button button-clear head_button1 color_i detailed">津贴明细</a>
	</div>

	<ion-content class="padding_head " id="inv-bgcolor" overflow-scroll="true">
		<div class="ibody pd0" id="inv-box">
			
			<!--banner-->
			<div class="bonus">
				<img src="img/inviting_friends/banner.jpg" class="bonus" />
			</div>
			
			<!--content-->
			<div class="inv_bg_color">
				
				<!--二维码-->
				<div class="copy_link">
					<p>您的专邀请链接已生成</p>
					<button type="button">复制邀请链接</button>
					<div class="ewm">
						<div class="picture">
							<p>二维码注册</p>
							<p><img src="img/inviting_friends/ewm.jpg"/></p>
						</div>
						<div class="coin">
							<p>已邀请：<em>10名好友</em></p>
							<p>已获得：<em>150元</em></p>
						</div>
					</div>
				</div>
				
				<!--排行榜-->
				<div class="ranking_list">
					<h4><span>排行榜</span></h4>
					<h5>邀请会员提升排行榜</h5>
					<ul class="title">
						<li>排名</li>
						<li>用户名</li>
						<li>获得津贴金额</li>
					</ul>
					<ul class="list">
						<li>
							<span><img src="img/inviting_friends/first.png"/></span>
							<span>陈兵123</span>
							<span>1520元</span>
						</li>
						<li>
							<span><img src="img/inviting_friends/second.png"/></span>
							<span>小丽丽</span>
							<span>853元</span>
						</li>
						<li>
							<span><img src="img/inviting_friends/third.png"/></span>
							<span>程小清</span>
							<span>705元</span>
						</li>
						<li>
							<span><i>4</i></span>
							<span>王大宝</span>
							<span>568元</span>
						</li>
						<li>
							<span><i>5</i></span>
							<span>李晓丹</span>
							<span>500元</span>
						</li>
					</ul>
					<button type="button" class="btn" name="" id="">查看更多></button>
				</div>
				
				<!--好友津贴-->
				<div class="ranking_list">
					<h4><span>邀请好友津贴示意图</span></h4>
					<ul class="list frind">
						<li>
							<span>好友手机认证</span>
							<span><em>10积分</em></span>
						</li>
						<li>
							<span>好友累积完成10单</span>
							<span><em>50积分</em></span>
						</li>
						<li>
							<span>好友累积完成100单</span>
							<span><em>500积分</em></span>
						</li>
						<li>
							<span>好友累积完成500单</span>
							<span><em>1000积分</em></span>
						</li>
						<li>
							<span>好友累积完成1000单</span>
							<span><em>2000积分</em></span>
						</li>
						
					</ul>
				</div>
				<!--邀请规则-->
				<div class="ranking_list remder">
					<h4><span>邀请规则</span></h4>
					<p class="tt">温馨提示</p>
					<p class="der">邀请好友前请认真指导做好审核工作。如出现商家返款后会员退款，平台有权从推荐人账户扣除该会员退款金额返还商家！</p>
					<p>1、邀请好友注册成功，邀请者获得100金币奖励；</p>
					<p>2、被邀请者完成申请3个免费试用，被邀请者可再获得100金币奖励；</p>
					<p>3、邀请成功后，被邀请者获得200金币奖励；</p>
					<p>4、邀请的小伙伴必须是新用户，若通过反作弊系统检测出有作弊行为的，将取消奖励并且永久封号；</p>
					<p>5、邀请方式可以通过微信、QQ、QQ空间、微博、论坛发帖等其他方式发给好友。</p>
				</div>
				
				
			</div>
			

		</div>

		
	</ion-content>

</ion-view>