<ion-view hide-nav-bar="true" class="bac_f4">
	<div class="bar bar-header bar-color2 bac_f4" id="up_head">
		<a ng-click="url_href('login')" style="color:#3d3d3d;" class="button icon icon-backs button-clear head_button1 color_i "></a>
		<h1 class="title color_i">升级通道</h1>
		<!-- <a href="#tab/user/forget" style="color:#3d3d3d;" class="button button-clear head_button1 color_i "><i class="ion-unlocked getps"></i>找回密码</a>-->
	</div>

	<ion-content class="padding_head" id="bonus-bgcolor" overflow-scroll="true">
		<div class="ibody" id="bonus-box">

			<!--banner-->
			<div class="bonus">
				<img src="img/upgrade/banner.jpg" />
			</div>

			<!--content-->
			<div class="upgrade">
				<div class="priv">
					<h4><span>创客特权</span></h4>
					<div class="fn">
						<p>1、45%利润返还（仅限精品特卖、精品优选）</p>
						<p>2、可终身享有粉丝在平台购物返还总金额的5%提成收益（仅限精品特卖、精品优选）</p>
						<p>3、可参与0元秒杀活动</p>
						<p>4、天天幸运大奖抽奖</p>
						<p>5、可享公式收益分红（达标并申请成功）</p>
						<p class="mores">更多特权敬请期待...</p>
					</div>

				</div>
				<div class="care">
					<h4><span>注意事项</span></h4>
					<div class="fn">
						<p><em>*</em>以下产品为亿汇优品粉丝升级创客的升级产品，为保障您的利益不受损失请详细阅读相关事项求全文</p>
						<p>
							<input type="checkbox" name="checkobx" value="1" checked="checked"/> 已阅读并同意
							<a href="javascript:;" class="" name="">《亿汇优品创客管理规范》 </a>
						</p>
					</div>
				</div>

				<div class="list_img">

					<div href="javascript:;" class="bgwidth">
						<img src="img/upgrade/phone.png" alt="" />
					</div>
					<div class="ftbx">
						<p>魅族 魅蓝S6 Exynos疾速游戏芯片，侧面指纹识别</p>
						<p class="btns">
							<span class="fnt">
								<font>市场价<em>￥1000.00元</em></font>
								<font>库存(5689)</font>
							</span>
							<span id="">
								<button type="button">立即购买</button>
							</span>
						</p>
					</div>

				</div>
				
				<div class="list_img">

					<div href="javascript:;" class="bgwidth">
						<img src="img/upgrade/phone.png" alt="" />
					</div>
					<div class="ftbx">
						<p>魅族 魅蓝S6 Exynos疾速游戏芯片，侧面指纹识别</p>
						<p class="btns">
							<span class="fnt">
								<font>市场价<em>￥1000.00元</em></font>
								<font>库存(5689)</font>
							</span>
							<span id="">
								<button type="button">立即购买</button>
							</span>
						</p>
					</div>

				</div>
			</div>

		</div>

	</ion-content>

</ion-view>