<ion-view hide-nav-bar="true" class="bac_f4">
	<div class="bar bar-header bar-color2 bac_f4" id="up_head">
		<a ng-click="url_href('login')" style="color:#3d3d3d;" class="button icon icon-backs button-clear head_button1 color_i "></a>
		<h1 class="title color_i">升职通道</h1>
		<!-- <a href="#tab/user/forget" style="color:#3d3d3d;" class="button button-clear head_button1 color_i "><i class="ion-unlocked getps"></i>找回密码</a>-->
	</div>

	<ion-content class="padding_head" id="bonus-bgcolor" overflow-scroll="true">
		<div class="ibody" id="bonus-box">
			
			<!--banner-->
			<div class="bonus">
				<img src="img/bonus/banner.jpg"  />
			</div>

			<!--content-->
			<div class="bonus_cont">
				<div class="within">
					<h3>升职特权</h3>
					<div class="bot_bor">
						<ul class="privilege">
							<li class="red">市场业务：可与同级别市场业务平均享有平台每月2%效益分红</li>
							<li class="orage">市场业务：可与同级别市场业务平均享有平台每月2%效益分红</li>
							<li class="yellow">市场业务：可与同级别市场业务平均享有平台每月2%效益分红</li>
							<li class="green">市场业务：可与同级别市场业务平均享有平台每月2%效益分红</li>
						</ul>
					</div>
				</div>
				
				<div class="within  bor_small">
					<h3>升职条件</h3>
					<div class="bot_bor">
						
						<ul class="privilege">
							<li class="red">市场业务：朋友圈创客达2000人，月收入达2000元</li>
							<li class="orage">市场业务：朋友圈创客达2000人，月收入达2000元</li>
							<li class="yellow">市场业务：朋友圈创客达2000人，月收入达2000元</li>
							<li class="green">市场业务：朋友圈创客达2000人，月收入达2000元</li>
						</ul>
					</div>
				</div>
				
				<div class="reminder">
					<p>温馨提示：为确保您的权益不受损失请认真阅读并同意<a href="#">《亿汇优品升职者协议》</a></p>
				</div>
				
				<div class="within bor_small " >
					<h3>请选择申请级别</h3>
					
					<div class="list_type">
						<a href="javascript:;" >市场业务</a>
						<a href="javascript:;">市场主任</a>
						<a href="javascript:;" class="active">市场经理</a>
						<a href="javascript:;">市场总监</a>
					</div>
					
					<div class="bot_bor">

						<!--市场业务-->
						<div class="business ">			
							<p class="need">不填写直接申请</p>
						</div>	
						
						<!--市场主任-->
						<div class="director ">
							<ul class="lsit"> 
								<li><font>市场主任1</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场主任2</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场主任3</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场主任4</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场主任5</font><input type="text" name="" value="" id="" /></li>
							</ul>
							<p class="need">请填写5个市场主任账号</p>
						</div>
						
						<!--市场经理-->
						<div class="manager block">
							<ul class="lsit"> 
								<li><font>市场经理1</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场经理2</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场经理3</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场经理4</font><input type="text" name="" value="" id="" /></li>
							</ul>
							<p class="need">请填写10个市场经理账号</p>
							<div class="add"><span>+</span>添加</div>
							
						</div>
						
						<!--市场总监-->
						<div class="inspector ">
							<ul class="lsit"> 
								<li><font>市场总监1</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场总监1</font><input type="text" name="" value="" id="" /></li>
								<li><font>市场总监1</font><input type="text" name="" value="" id="" /></li>
							</ul>
							<p class="need">请填写3个市场总监账号</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</ion-content>
	
	<!--btn-->
	<div class="" id="up_foot" style="color: #000;">
		<button type="button" id="" name=""  disabled class="">申请</button>
	</div>
</ion-view>