<ion-view hide-nav-bar="true" class="v4 profile_s">
    <div class="bar bar-header">
        <button ng-click="$toBack('/tab/user')" class="button button-clear button-stable">
            <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">我的手机</h1>
    </div>
    <ion-content>
        <section class="show_b" ng-if="user_profile.phone_status == 1">
            <div class="list list-inset">
                <label class="item item-input">
                    <span>手机:</span>
                    <p class="inner">{{user_profile.phone}}<span class="status green" ng-if="user_profile.phone_status == 1">已认证</span></p>
                </label>
            </div>
        </section>
        <section class="input_b">
            <form name="myform" novalidate="false">
                <div class="list list-inset">
                    <h2 class="title" ng-if="user_profile.phone_status == 1">修改手机</h2>
                    <div class="inputs">
                        <label for="" class="item item-input">
                            <i class="placeholder-icon icon ico_phone"></i>
                            <input type="text" ng-pattern="/^1[3|4|5|8][0-9]\d{4,8}$/" ng-model="user_phone" name="user_phone" placeholder="请输入您需要认证或者修改的手机" ng-maxlength="11" ng-minlength="11" required>
                        </label>
                        <div class="item item-input">
                            <i class="placeholder-ico icon ico_sms"></i>
                            <input type="number" ng-model="user_sms" name="user_sms" placeholder="请输入您收到的验证码" ng-maxlength="6" ng-minlength="6" required>
                            <label>
                                <span class="input-label">
                                    <button name="user_getsms" ng-disabled="myform.user_phone.$invalid || isDisabled" class="button button-positive button-small " ng-click="UserPersonal_getsms(user_phone)">{{text}}</button>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="prompt item">
                        <p class="tit">温馨提示:</p>
                        <p>可以用认证通过的手机直接登录平台！</p>
                    </div>
                    <button class="button item button-block submit_btn" ng-disabled="myform.$invalid" ng-click="edit_phone(user_phone,user_sms)">
                        <span>提交</span>
                    </button>
                </div>
            </form>
        </section>
    </ion-content>
  </ion-view>