<ion-view hide-nav-bar="true" class="v4 profile_s">
    <div class="bar bar-header">
        <button ng-click="$toBack('/tab/user')" class="button button-clear button-stable">
            <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">修改密码</h1>
    </div>
    <ion-content>
        <section class="input_b">
            <form novalidate="false" name="myform">
                <div class="list list-inset">
                    <div class="inputs">
                        <label class="item item-input">
                            <i class="placeholder-icon icon ico_password"></i>
                            <input type="text" g-minlength="6" ng-maxlength="20"  name="oldpass" type="password" placeholder="请输入旧密码" ng-model="oldpass" required />
                        </label>
                         <label class="item item-input">
                            <i class="placeholder-icon icon ico_password"></i>
                            <input type="text" ng-minlength="6" ng-maxlength="20" name="password" type="password" placeholder="请输入新密码" ng-model="password" required />
                        </label>
                         <label class="item item-input">
                            <i class="placeholder-icon icon ico_password"></i>
                            <input type="text" repeat="password" ng-minlength="6" name="repeat_password" type="password" placeholder="请再次输入密码" ng-model="repeat_password" required />
                        </label>
                    </div>
                    <div class="prompt item">
                        <p class="tit">温馨提示:</p>
                        <p>1.修改成功之后,请用新密码登录。</p>
                        <p>2.建议采用字母+数字+特殊字符 组合 增加强度。</p>
                    </div>
                    <button class="button item button-block submit_btn" ng-disabled="myform.$invalid" ng-click="edit_password(oldpass,repeat_password)">
                        <span>提交</span>
                    </button>
                </div>
            </form>
        </section>
    </ion-content>
</ion-view>