<ion-view hide-nav-bar="true" hide-tabs class="v4">
    <div class="bar bar-header">
        <button ng-click="$toBack('/tab/duo')" class="button button-clear button-stable">
            <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">关于我们</h1>
    </div>
    <ion-content overflow-scroll ="true">
        <div class="ibody">
            <div class="i_aboutUs about_help">
                <div class="s_part1">
                    <div class="s_part2 c4">
                    </div>
                    <div class="s_part3">
                        <div class="ti">
                            <div class="tico">
                                <div class="a1">关于我们</div>
                                <div class="a2">A free trial</div>
                            </div>
                        </div>
                        <!--ti-->
                        <div class="co c4 we_des">
                            我们是一家专注于试用服务，集合用户营销、活动营销、口碑营销、商品营销为一体的营销导购平台。秉承"打造最佳的产品试用平台"的理念，为广大的用户提供最高性价比的试用商品，以评价换取免费商品。
                            <br/>
                            平台聚集 了大量的淘宝优质用户，通过免费试用活动帮助商家打开知名度，为商品打开销路，同时为商家挖掘潜在消费者，为数百万商家提升了品牌价值与影响力。搭建了卖家与消费者之间相互了解的桥梁，让消费者在低成本试用的情况下，体验商品的质量和服务，并公正客观的提交商品体验报告。同时鼓励消费者更加客观和细致的评价，通过试用过程的展示，体验报告的传播，为卖家提供更优质的营销传播。
                        </div>
                        <div class="co2">
                            <div class="p">
                                <div class="a1 about_help_tip">
                                    <img src="img/a39.jpg">
                                </div>
                                <div class="a2">
                                    <span>10000+</span>
                                    商品试用
                                </div>
                            </div>
                            <div class="p">
                                <div class="a1 about_help_tip">
                                    <img src="img/a40.jpg">
                                </div>
                                <div class="a2">商家获得良好的口碑</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                <!--co2--> 
                    </div>
                <!--s_part3-->
                    <div class="s_part4" style="margin-top:30px;">
                        <div class="ti">
                            <div class="tico">
                            <div class="a1">限时抢购</div>
                            <div class="a2">Flash sale</div>
                            </div>
                        </div>
                        <!--ti-->
                        <div class="co c4 activity_des">每天早上10 ：00准时上新，每个试用商品的申请时间3-5天，抢到就是赚到。</div>
                    </div>
                    <div class="s_part4" style="margin-top:30px;">
                        <div class="ti">
                            <div class="tico">
                                <div class="a1">联系我们</div>
                                <div class="a2">Contact Us</div>
                            </div>
                        </div>
                    <!--ti-->
                        <div class="co2 justMe">
                            <p><span class="me_des_line">公司名称</span><span class="me_des_text"> ：{{webinfo.site_complain_name}}</span></p>
                            <p><span class="me_des_line">客服QQ</span><span class="me_des_text"> ：<a href="tencent://message/?uin={{webinfo.site_contact_qq1}}"></a>{{webinfo.site_contact_qq1}}</span></p>
                            <p><span class="me_des_line">客服电话</span><span class="me_des_text"> ：<a href="tel:{{webinfo.site_contact_tel}}">{{webinfo.site_contact_tel}}</a></span></p>
                            <p><span class="me_des_line">服务时间</span><span class="me_des_text"> ：{{webinfo.site_work_day}}</span></p>
                            <p><span class="me_des_line">公司地址</span><span class="me_des_text"> ：{{webinfo.site_contact_address}}</span></p>
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>