<ion-view hide-nav-bar="true" hide-tabs class="v4">
    <div class="bar bar-header">
        <button ng-click="$toBack('/tab/duo')" class="button button-clear button-stable">
            <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">货比三家结果图</h1>
    </div>
    <ion-content overflow-scroll="true">
        <div class="ibody">
            <div class="i_tryDetail4">
                <div class="part">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                        <td width="25" class="L">
                            <div class="co co1"></div>
                        </td>
                        <td class="R">
                            <div class="p1">打开淘宝</div>
                            <div class="p2">查看订单号需要打开淘宝，并进入淘宝。</div>
                            <div class="p3">
                            <img src="img/a17.jpg"></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <!--part-->
                <div class="part">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                        <td width="25" class="L">
                            <div class="co co2"></div>
                        </td>
                        <td class="R">
                            <div class="p1">找到相应的商品</div>
                            <div class="p2">
                            进入淘宝后，在淘宝搜索列表中找到平台对应的活动商品。
                            </div>
                            <div class="p3">
                            <img src="img/help/shop_around1.jpg"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--part-->
                <div class="part">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="25" class="L">
                                <div class="co co3"></div>
                            </td>
                            <td class="R">
                                <div class="p1">返回到搜索列表</div>
                                <div class="p2">
                                    找到与活动商品类型品种相同的其他商品。
                                </div>
                                <div class="p3">
                                    <img src="img/help/shop_around2.jpg">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--part-->
                <div class="part">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="25" class="L">
                                <div class="co co4"></div>
                            </td>
                            <td class="R">
                                <div class="p1">进入到商品详情页</div>
                                <div class="p2">
                                    进入该商品的详情页,截图并到平台上传这个货比三家结果图
                                </div>
                                <div class="p3">
                                    <img src="img/help/shop_around3.jpg">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
    <!--part--> 
            </div>
<!--i_tryDetail2--> 
        </div>
    </ion-content>
</ion-view>