 <ion-view hide-nav-bar="true" >
      <div class="bar bar-header  bar-stable ">
      <h1 class="title">更多</h1>
     </div>
      <ion-content class="padding_head" overflow-scroll ="true"
>

		<ion-list>
            <ul class="duo_list" >
            <ion-item class="item item-icon-left item-icon-right " href="#/tab/commission" >
                <img src="img/ion-ios-bolt.png" alt="闪电试用" class="icon_left_32">
                <h3>闪电试用</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item>

            <ion-item class="item item-icon-left item-icon-right " href="#/tab/task" >
                <img src="img/ion-ios-bookmarks.png"  class="icon_left_32">
                <h3>开心任务</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item>

            <ion-item class="item item-icon-left item-icon-right " href="#/tab/weixin" >
                <img src="img/ion-social-twitch-outline.png" alt="微信" class="icon_left_32">
                <h3>微信转发任务</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item>


            <ion-item class="item item-icon-left item-icon-right " href="#/tab/jifenduihuan" >
                <img src="img/ion-ios-infinite.png" alt="积分兑换" class="icon_left_32">
                <h3>积分兑换</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item>

            <ion-item class="item item-icon-left item-icon-right " href="#/tab/jiang" >
                <img src="img/ion-disc.png" alt="幸运大转盘" class="icon_left_32">
                <h3>幸运大转盘</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item>
            <ion-item  href="#/tab/invitation" class="item item-icon-left item-icon-right " style="font-size:1.5em;color:#fd3636">
                    <img src="img/ion-ios-personadd.png" alt="推荐好友" class="icon_left_32">
                    <h3>推荐好友</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#fd3636" ></i>
                </ion-item>
                <ion-item class="item item-icon-left item-icon-right " href="#/tab/article" >
                    <img src="img/ion-ios-help.png" alt="帮助中心" class="icon_left_32">
                    <h3>帮助中心</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#ccc"></i>
                </ion-item>
                <ion-item class="item item-icon-left item-icon-right " href="#/tab/help/about" >
                    <img src="img/ion-ios-information.png" alt="关于我们" class="icon_left_32">
                    <h3>关于我们</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#fd3636"></i>
                </ion-item>

            </ul>
        </ion-list>

    </ion-content>
</ion-view>